[submodule "kube-state-graph"]
	path = kube-state-graph
	url = https://github.com/akira-core/kube-state-graph
	branch = main
[submodule "kube-state-graph-frontend"]
	path = kube-state-graph-frontend
	url = https://github.com/akira-core/kube-state-graph-frontend
	branch = feat/pure-ui-frontend
