[submodule "kube-state-graph"]
	path = kube-state-graph
	url = git@github.com:akira-core/kube-state-graph.git
	branch = replace-storageclass-with-netapp-nodes
[submodule "kube-state-graph-panel"]
	path = kube-state-graph-panel
	url = git@github.com:akira-core/kube-state-graph-panel.git
	branch = node-group-compound-parent
